body {
    position: relative;
  }
  ul.nav-pills {
    top: 20px;
    position: fixed;
    margin-top:100px;
  }

  .col-sm-3{
      background-color: black;
  }
  .col-sm-9{
      background-color: lightgrey;
  } 

  h1,a{
      color:#07889B;
  }
  .nav-pills .nav-link.active{
    background-color: teal;
    color:white;
  }
a:hover{
      background-color:teal;
      color:white;
  }
p{
    margin-top: 30px;
}